AZURE_CLIENT_ID=510c929b-fb7b-44be-9aac-6932211a0828
AZURE_TENANT_ID=34f24d5b-b966-4b13-b0b4-2615ee97543b
AZURE_CLIENT_SECRET=4e3hkA@9sk49FPMBN&tpp6S$nnGQjHegTkHM
AZURE_SUBSCRIPTION_ID=f29d580d-1d47-414f-8828-8a8ba272ca2c
DNS_ZONE=example.com
DNS_RECORD=home
DNS_RG=MyDnsResourceGroup